body {
    margin: 0;
    background-color: #f0f2f5;
    font-family: Arial;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 80px;
}

.left {
    width: 400px;
}

.left h1 {
    color: #1877f2;
    font-size: 52px;
    margin-bottom: 10px;
}

.left p {
    font-size: 24px;
    margin-top: 0;
}

.login-box {
    background-color: white;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px #ccc;
}

input {
    width: 92%;
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.login {
    width: 100%;
    padding: 12px;
    background-color: #1877f2;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
}

.forgot {
    text-align: center;
    color: #1877f2;
    font-size: 13px;
}

hr {
    border: 0;
    border-top: 1px solid #ddd;
}

.create {
    display: block;
    margin: 20px auto 0;
    padding: 12px 20px;
    background-color: #42b72a;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}